.menu-cart {
    text-align: left;
}

.order p {
    display: inline-block;
    margin-right: 20px;
}

.order-name {
    width: 100px;
    font-weight: bold;
}

.order-price {
    width: 100px;
}

.price {
    position: absolute;
    bottom: 30%;
    left: 80%;
}

