.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    text-align: center;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}

.Modal input {
    display: block;
    width: 300px;
    height: 30px;
    text-align: center;
    margin: 10px auto;
}

.create-delivery {
    display: block;
    width: 150px;
    height: 30px;
    margin: 0 auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
}
